@{
    ViewBag.Title = "Products";
    Layout = "masterpage";
}
@section styles{
    <link rel="stylesheet" href="~/Areas/Products/Assets/css/products.css" />
}

<h2>Products </h2>
@ViewBag.teste

<div class="teste"></div>