@{
    ViewBag.Title = "Products";
    Layout = "masterpage";
}
@section styles{
    <link rel="stylesheet" href="~/Areas/Products/Assets/css/site.css" />
}

<h2>Products </h2>

<div class="teste"></div>