@{
    ViewBag.Title = "Products";
    Layout = "masterpage";
}
@section styles{
    <link rel="stylesheet" href="~/Areas/Products/Assets/css/products.css" />
}

<h2>@ViewBag.teste</h2>

<h2>@ViewBag.teste2</h2>

<h2>@ViewBag.teste3</h2>

<h2>@ViewBag.teste4</h2>


<div class="teste"></div>