<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/Start/assets/css/cadastro.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/style.js"></script>

</head>
<body class="cad-aluno cad">
<aside>
    <div class="logo">
        <h2>
            <span>TPZ SYSTEM</span>
            <span class="logo_mini">T</span>
        </h2>
    </div>
    <div class="nav_ul">
        <ul>
            <li>
                <a href="dashboard.html">
                    <i class="fas fa-home"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-plus icon-add"></i>
                    <span>Cadastrar</span>
                </a>
                @*<ul class="submenu">
                    <li>
                        <a href="cad-aluno.html">Alunos</a>
                    </li>
                    <li>
                        <a href="cad-professor.html">Professores</a>
                    </li>
                    <li>
                        <a href="cad-disciplina.html">Disciplina</a>
                    </li>
                </ul>*@
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-list-ul"></i>
                    <span>Listar</span>
                </a>
                @*<ul class="submenu">
                    <li>
                        <a href="list_aluno.html">Alunos</a>
                    </li>
                    <li>
                        <a href="#">Professores</a>
                    </li>
                    <li>
                        <a href="#">Disciplinas</a>
                    </li>
                </ul>*@
            </li>
            <!-- <li><a href="#"><i class="fas fa-plus icon-add"></i>Matricula / Inscrição</a></li>
            <li><a href="#"><i class="fas fa-clipboard-list icon-lanc"></i>Lançamento de Notas</a></li>
            <li><a href="#"><i class="fas fa-clipboard-check icon-check"></i>Fechamento de Notas</a></li>
            <li><a href="#"><i class="fas fa-eraser icon-eraser"></i>Corrigir Atividades</a></li> -->
        </ul>
    </div>
</aside>

<header>
    <div class="user">
        <h4>Ramon C. <i class="fas fa-angle-down icon-arrow"></i></h4>
        <div class="menu_user">
            <ul>
                <li>
                    <a href="#"><i class="fas fa-cog"></i>Opções</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-sign-out-alt"></i>Sair</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<div class="content">
    <a href="dashboard.html" class="btn_volt">Voltar</a>
    <form method="post">
        <h2>Cadastro de Cliente</h2>
        <label for="txtNome">Nome:</label>
        <input type="text" id="txtNome" class="input_large" placeholder="Digite o nome completo do Cliente">
        
        <div class="div_inline">
            <label for="txtCPF">Telefone Principal:</label>
            <input type="text" id="txtCPF" class="" placeholder="(__)____-____" maxlength="11">
        </div>

        <div class="div_inline">
            <label for="txtRG">RG:</label>
            <input type="text" id="txtRG" class="" placeholder="__ . ___ . ___ . __" maxlength="10">
        </div>

        <div class="div_inline last">
            <label for="txtCEP">CEP:</label>
            <input type="text" id="txtCEP" class="" placeholder="_____ - ___" maxlength="8">
        </div>

        <div class="div_inline">
            <label for="txtEndereco">Endereço:</label>
            <input type="text" id="txtEndereco" placeholder="Digite o endereço">
        </div>

        <div class="div_inline">
            <label for="txtCidade">Cidade:</label>
            <input type="text" id="txtCidade" placeholder="Digite a cidade">
        </div>

        <div class="div_inline last">
            <label for="txtUF">UF:</label>
            <select>
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espirito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MT">Mato Grosso</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>

        <button type="submit" class="btnCad">Cadastrar</button>

    </form>
</div>

</body>
</html>