<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Início</title>
    <link rel="stylesheet" type="text/css" href="~/Areas/Start/assets/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/style.js"></script>

</head>
<body class="dashboard">
<header>
    <nav>
        <div class="ul_left">
            <ul class="ul_nav">
                <li>
                    <a href="@Url.Action("Home", "Home")">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="active">
                    <a href="@Url.Action("Home", "Home")">Inicio</a>
                </li>
                <li>
                    <a href="@Url.Action("ClientesCadastro", "Home")">Cadastro de Clientes</a>
                </li>
                <!--
                <li><a href="#"></a></li>
                <li><a href="#"></a></li> 
                -->
            </ul>
        </div>
        <div class="ul_right">
            <div class="right">
                <h4>Ramon C. <i class="fas fa-angle-down icon-arrow"></i></h4>
                <div class="menu_user">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-cog"></i>
                                Opções
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                Sair
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="clear"></div>

</header>

<div class="content classroom">
    <h1>Clientes cadastrados</h1>
    <ul class="action">
        <li>
            <a href="@Url.Action("Home", "Home")" class="voltar"> << Voltar </a>
        </li>
    </ul>
    <hr>
    <div class="row">
        <form method="post" id="form">
            <table>
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Telefone</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>001</td>
                    <td>Ramon C. Pires</td>
                    <td>Telefone: (11) 11558-1233</td>
                    <td>
                        <a href="#">Editar</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Ramon C. Pires</td>
                    <td>Telefone: (11) 11558-1233</td>
                    <td>
                        <a href="#">Editar</a>
                    </td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>Ramon C. Pires</td>
                    <td>Telefone: (11) 11558-1233</td>
                    <td>
                        <a href="#">Editar</a>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Ramon C. Pires</td>
                    <td>Telefone: (11) 11558-1233</td>
                    <td>
                        <a href="#">Editar</a>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Ramon C. Pires</td>
                    <td>Telefone: (11) 11558-1233</td>
                    <td>
                        <a href="#">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>