@{
    Layout = "masterpage";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Areas/Orders/Assets/css/order-style.css">
}


<!-- Modal -->
<div class="modal fade" id="modalcadastrocliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    @*<div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>*@

                    <div class="form-group col-md-6">
                        <label>*Primeiro nome do cliente</label>
                        <input type="text" class="form-control" placeholder="Primeiro Nome do Cliente" aria-label="User name" aria-describedby="basic-addon2">
                    </div>
                    <div class="form-group col-md-6">
                        <label>*Sobrenome do cliente</label>
                        <input type="text" class="form-control" placeholder="Sobrenome do cliente" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>

                    <div class="form-group col-md-4">
                        <label>Telefone:</label>
                        <input type="text" class="form-control" placeholder="(__)_____-____" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Telefone secundario:</label>
                        <input type="text" class="form-control" placeholder="(__)_____-____" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="form-group col-md-12">
                    </div>
                    <div class="form-group col-md-8">
                        <label>Email:</label>
                        <input type="email" class="form-control" placeholder="example@example.com.br" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>

                    <div class="form-group col-md-12">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Endereço da residencial:</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label>Bairro:</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    
                    <div class="form-group col-md-2">
                        <label>Numero:</label>
                        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>

                    <div class="form-group col-md-2">
                        <label>CEP:</label>
                        <input type="text" class="form-control" placeholder="_____-__" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar Dados</button>
                </div>
            </div>
        </div>
    </div>
</div>

<article id="dados-clientes">
    <div class="row">
        <div class="col-12">
            <h4>Dados do Cliente</h4>
        </div>
        <div class="col-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Digite o telefone/nome do cliente" aria-label="Digite o telefone/nome do cliente" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalcadastrocliente">
                <i class="fa fa-plus"></i>
                Cadastro Cliente
            </button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nome:</label>
            <strong>joao vitor paulino martins</strong>
        </div>

        <div class="form-group col-md-6">
            <label>Email:</label>
            <strong>paulino.joaovitor@yahoo.com.br</strong>
        </div>

        <div class="form-group col-md-6">
            <label>Telefone:</label>
            <strong>(11)95337-7823</strong>
        </div>

        <div class="form-group col-md-6">
            <label>Endereço:</label>
            <strong>Aricanga n°1340, Itaim paulista, SP</strong>
        </div>

        <div class="form-group col-md-6">
            <label>Cep:</label>
            <strong>08160-000</strong>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-7">
        </div>
        <div class="form-group col-md-3">
            <button class="btn btn-dark">
                Atualizar dados
            </button>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-info">
                Prosseguir
            </button>
        </div>
    </div>
</article>

<article id="itens-pedido" style="margin-top: 30px;">
    <div class="row">
        <div class="col-9">
            <h4>Dados do Pedido</h4>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalExemplo">
                <i class="fa fa-plus"></i>
                Adicionar item ao pedido
            </button>
        </div>

        <!-- Modal Pedidos -->
        <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adicionar itens ao Pedido</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Digite o produto" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button">Qtd</button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 10px; margin: 10px; border: 1px solid #2f4f4f">
                        <div class="col-md-2">
                            <img src="~/Assets/images/pizza calabresa.jpg" alt="pizza mussarela" style="width: 100%; margin: 0 auto;"/>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <strong>Pizza grande Calabresa </strong>
                            </p>
                            <p>Recheio: Molho de tomate,calabresa, Mussarela,Rodelas de tomates,óregano</p>

                            <p>
                                <strong>Preço unitario: R$30,00 </strong>
                            </p>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-primary" type="submit">Adicionar</button>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Salvar Pedido</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 10px; margin: 10px; border: 1px solid #2f4f4f" id="item1">
        <div class="col-md-2">
            <img src="~/Assets/images/pizza mussarela.jpg" alt="pizza mussarela" style="width: 100%; margin: 0 auto;"/>
        </div>
        <div class="col-md-8">
            <p>
                <strong>Pizza grande Mussarela</strong>
            </p>
            <p>Recheio: Molho de tomate, Mussarela,Rodelas de tomates,óregano</p>
            <p>
                <strong>Quantidade: 2</strong>
            </p>
            <p>
                <strong>Preço: R$64,00 </strong>
            </p>
        </div>
        <div class="col-md-2">
            <a onclick="jQuery('#item1').hide('slow')">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>

    <div class="row" style="padding: 10px; margin: 10px; border: 1px solid #2f4f4f" id="item2">
        <div class="col-md-2">
            <img src="~/Assets/images/pizza calabresa.jpg" alt="pizza mussarela" style="width: 100%; margin: 0 auto;"/>
        </div>
        <div class="col-md-8">
            <p>
                <strong>Pizza grande Calabresa </strong>
            </p>
            <p>Recheio: Molho de tomate,calabresa, Mussarela,Rodelas de tomates,óregano</p>
            <p>
                <strong>Quantidade: 1</strong>
            </p>
            <p>
                <strong>Preço: R$30,00 </strong>
            </p>
        </div>
        <div class="col-md-2">
            <a onclick="jQuery('#item2').hide('slow')">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>

    <div class="row" style="padding: 10px; margin: 10px; border: 1px solid #2f4f4f" id="item3">
        <div class="col-md-2">
            <img src="~/Assets/images/coca.jpg" alt="pizza mussarela" style="width: 100%; margin: 0 auto;"/>
        </div>
        <div class="col-md-8">
            <p>
                <strong>Coca cola 2L</strong>
            </p>
            <p>Coca cola 2L</p>
            
            <p>
                <strong>Quantidade: 1</strong>
            </p>
            <p>
                <strong>Preço: R$05,00 </strong>
            </p>
        </div>
        <div class="col-md-2">
            <a onclick="jQuery('#item3').hide('slow')">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-7">
            <h3>Preço Total: R$99,00</h3>
        </div>
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-2">
            <button class="btn btn-info">
                Prosseguir
            </button>
        </div>
    </div>
</article>

<article id="forma-pagamento" style="margin-top: 30px;">
    <div class="row">
        <div class="col-12">
            <h4>Forma de pagamento</h4>
        </div>
        <div class="col-12">
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" checked>Dinheiro
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio">Cartao de debito
                </label>
            </div>
            <div class="radio disabled">
                <label>
                    <input type="radio" name="optradio">Cartao de credito
                </label>
            </div>
        </div>

        <div class="col-md-3"></div>

        <div class="form-group col-md-6">
            <button class="btn btn-success btn-sm btn-block" onclick="alert('Pedido Efetuado com sucesso!!')">
                Finalizar Pedido
            </button>
        </div>

        <div class="col-md-3"></div>

    </div>
</article>