#dados-clientes {
    padding: 10px;
    background-color: #fafafa;
    border: #f3f3f3 1px solid;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.27)
}
#itens-pedido- {
    padding: 10px;
    background-color: #fafafa;
    border: #f3f3f3 1px solid;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.27)
}
