<div id="accordion">
    <div class="card item-menu">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <a class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Dados Auxiliares
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body sub-item">
                <a href="@Url.Action("ListProviders", "ProvidersConsult", new { area="Providers" })" class="sub-item">
                    Fornecedores
                </a>
            </div>
            <div class="card-body sub-item ">
                <a href="@Url.Action("ListProducts", "ProductsConsult", new { area = "Products" } )" class="sub-item">
                    Produtos
                </a>
            </div>
            <div class="card-body sub-item ">
                <a href="@Url.Action("Index", "ClientsConsult", new { area = "Clients" } )" class="sub-item">
                    Clientes
                </a>
            </div>
        </div>
    </div>
    
    <div class="card item-menu">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <a class="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Pedidos
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body sub-item">
                <a href="@Url.Action("ShowOrder", "OrderConsult", new { area = "Orders" })" class="sub-item">Efetuar Novo Pedido</a>
            </div>
            <div class="card-body sub-item ">
                <a href="" class="sub-item">Historico</a>
            </div>
        </div>
    </div>
    
    @*<div class="card item-menu">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <a class="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <a href="">Entregas</a>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body sub-item">
                <a href="" class="sub-item">Acompanhar entregas</a>
            </div>
            <div class="card-body sub-item ">
                <a href="" class="sub-item">Historico</a>
            </div>
        </div>
    </div>*@
</div>
