<div class="logo">
    <h2>
        <span>TPZ SYSTEM</span>
        <span class="logo_mini">T</span>
    </h2>
</div>
<div class="user">
    @*<span>
        Ramon C. 
        <i class="fas fa-angle-down icon-arrow"></i>
    </span>
    <div class="menu_user">
        <ul>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    Opções
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    Sair
                </a>
            </li>
        </ul>
    </div>*@
</div>