@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

/*==============================================
	HEADER
================================================*/
header {
    background: #384452;
}

header nav div.ul_left ul li {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-right: 2px solid #19232f;
    background: #2f3842;
    float: left;
    height: 52px;
    width: 139px;
    border-top: 6px solid transparent;
    font-weight: 600;
}

header nav div.ul_left ul li a {
    text-decoration: none;
    color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header nav div.ul_left ul li.active {
    background: #fff;
    border-top-color: #688ab1;
    border-right: none;
}

header nav div.ul_left ul li.active a {
    color: #688ab1;
}

header nav .clear {
    clear: both;
}

header nav div.ul_left ul li:last-child {
    border-right: none;
}

header nav div.ul_right, header nav div.ul_left {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

header nav div.ul_right {
    text-align: right;
}

header nav div.ul_right h4 {
    margin: 0;
    color: #fff;
}

header nav div.ul_right .right {
    width: 120px;
    text-align: left;
    float: right;
    cursor: pointer;
}

header nav div.ul_left {
    padding-top: 10px;
}

header nav div.ul_right .menu_user {
    display: none;
    position: absolute;
    background: #fff;
    right: 22px;
    width: 184px;
    border-radius: 7px;
}

header nav div.ul_right .menu_user ul a {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 11px 24px;
    color: #2f3842;
}

header nav div.ul_right .menu_user ul {
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 7px;
}

header nav div.ul_right .menu_user ul a i {
    margin-right: 10px;
}

header nav div.ul_right .menu_user ul li:hover {
    background: #efefeffc;
}

header nav div.ul_right .menu_user ul li {
    border-radius: 2px;
}

header nav div.ul_right .right:hover .menu_user {
    display: block;
}

.content {
    padding: 50px 0;
    width: 1220px;
    margin: 0 auto;
}

.content h1 {
    margin: 0;
}

.content hr {
    margin-bottom: 30px;
}

.content .card {
    box-shadow: 0px 0px 19px -3px #1d1d1d70;
    margin-right: 40px;
    width: 30%;
    display: inline-block;
    text-align: center;
    border-radius: 13px;
    background: #efefef69;
    position: relative;
    min-height: 320px;
    vertical-align: top;
}

.content .row .card:last-child {
    margin: 0;
}

.content .card .card-header {
    background: #7abdf4;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 10px 0;
}

.content .card .card-header i {
    height: auto;
    font-size: 32px;
    border: 4px solid;
    width: auto;
    border-radius: 50px;
    padding: 10px 12px;
    color: #2f3842;
}

.content .card .card-footer {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top: 1px solid #cccccc9c;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content .card .card-body {
    padding: 21px 0;
    color: #2f3842;
}

.content .card .card-body h3 {
    margin: 0;
    margin-bottom: 22px;
}

.content .card .card-footer a {
    transition: .5s;
    display: block;
    text-decoration: none;
    background: #7abdf4;
    width: 30%;
    color: #f8f8f8;
    margin: 17px auto;
    font-weight: bold;
    border-radius: 5px;
}

.content .card .card-body .block_dados {
    text-align: left;
    width: 45%;
    margin: 0 auto;
}

.content .card .card-body .block_dados label {
    width: 87px;
    display: inline-block;
}

.content .card .card-footer a:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px -1px #000;
}

/*====== SALA ======*/
.content.classroom ul.action {
    text-align: right;
}

.content.classroom h1, .content.classroom ul.action {
    display: inline-block;
}

.content.classroom h1 {
    width: 23%;
}

.content.classroom ul.action {
    width: 75%;
}

.content.classroom ul.action li {
    display: inline-block;
    margin-right: 10px;
}

.content.classroom ul.action a {
    padding: 10px 20px;
    transition: .4s;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.content.classroom ul.action a.faltas {
    background: #dc2a63;
}

.content.classroom ul.action a.faltas:hover {
    box-shadow: 0 0 6px 0px #dc2a63;
}

.content.classroom ul.action a.conteudo {
    background: #a82adc;
}

.content.classroom ul.action a.conteudo:hover {
    box-shadow: 0 0 6px 0px #a82adc;
}

.content.classroom ul.action a.voltar {
    background: #dcce2a;
}

.content.classroom ul.action a.voltar:hover {
    box-shadow: 0 0 6px 0px #dcce2a;
}

.content.classroom ul.action a.todas-faltas {
    background: #688ab1;
}

.content.classroom ul.action a.todas-faltas:hover {
    box-shadow: 0 0 6px 0px #688ab1;
}

.content.classroom ul.action a.conteudo-lancados {
    background: #b16868;
}

.content.classroom ul.action a.conteudo-lancados:hover {
    box-shadow: 0 0 6px 0px #b16868;
}

.content.classroom table {
    border-collapse: collapse;
    width: 100%;
}

.content.classroom table thead {
    background: #384452;
    font-weight: bold;
    color: #fff;
}

.content.classroom table thead tr td {
    background: #384452;
}

.content.classroom table tbody {
    border-radius: 5px;
}

.content.classroom table tbody tr {
    background: #2f384236;
    border-bottom: 1px solid #bfbdbd;
    border-radius: 5px;
}

.content.classroom table tbody tr:last-child {
    border: none;
}

.content.classroom table td {
    padding: 10px;
    background: #d3d5d7;
}

.content.classroom table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

.content.classroom table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}

.content.classroom table thead tr td:last-child {
    border-top-right-radius: 7px;
    text-align: center;
}

.content.classroom table thead tr td:first-child {
    border-top-left-radius: 7px;
}

.content.classroom table tbody tr td label {
    margin: 0 20px 0 10px;
}

.content.classroom table tbody tr td:last-child {
    text-align: center;
}

.content.classroom form button.enviar {
    border: none;
    cursor: pointer;
    background: #22d672;
    outline: none;
    transition: .3s;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 32px;
    border-radius: 8px;
    margin-top: 20px;
}

.content.classroom form button.enviar:hover {
    box-shadow: 0 0 10px 1px #22d67275;
}

.content.classroom.todas-faltas-sala table tbody tr td:last-child {
    opacity: .5;
}

.content.classroom.todas-faltas table tbody tr td:last-child, .content.classroom.todas-faltas table thead tr td:last-child {
    text-align: left;
}

.content.classroom.todas-faltas h1, .content.classroom.todas-faltas ul.action,
.content.classroom.todas-faltas-sala h1, .content.classroom.todas-faltas-sala ul.action {
    width: 48%;
}

.content.classroom.todas-faltas tr {
    cursor: pointer;
    transition: .2s;
}

.content.classroom.todas-faltas tbody tr:hover {
    box-shadow: 0 0 6px 0px #384452;
    transform: scale(1.005);
}